.tinyInput {
  display: flex;
  flex-direction: row;
  margin: 5px;
  & label {
    margin-right: 10px;
    width: 120px;
    text-align: start;
  }
  & input {
    width: 200px;
  }
}
.tinyCheckBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px;
  & label {
    margin-right: 10px;
  }
}
