.tinyInput {
  display: flex;
  flex-direction: row;
  margin: 2px;
  & label {
    margin-right: 10px;
    width: 120px;
    text-align: start;
  }
  & input {
    width: 200px;
  }
}
.tinyCheckBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 2px;
  & label {
    margin-right: 10px;
  }
}
.tinyLogOut {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 2px;
  & label {
    margin-right: 10px;
  }
  & button {
    padding: 0;
    line-height: 1;
    background: transparent;
    color: white;
    border: none;
    & :hover,
    & :active,
    & :focus {
      color: red;
    }
  }
}
.tinyBottle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 1px;
  border: 1px solid black;
  & label {
    margin: 0;
    font-weight: bolder;
  }
}
.tinyOrganicIcon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  margin: 1px;

  & label {
    color: black;
    margin: 0;
    font-weight: bolder;
  }
  & svg {
    color: rgb(106, 150, 41);
  }
}
.tinyListbox {
  width: -webkit-fill-available;
}

.cellarDisplay {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    font-size: smaller;
  }
  .cellarDisplayShelf {
    background-color: rgba(63, 34, 34, 0.7);
    display: flex;
    width: 60vw;
    flex-direction: row;
    @media screen and (max-width: 1000px) {
      width: 90vw;
    }
    .cellarDisplayFrontShelf {
      margin: 5px;
      & th {
        padding: 0;
      }
      .table {
        margin-bottom: 0;
      }
    }
    .cellarDisplayBackShelf {
      margin: 5px;
      & th {
        padding: 0;
      }
      .table {
        margin-bottom: 0;
      }
    }
    & td {
      padding: 5px;
      background-color: rgb(190, 187, 187);
      .wineRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 0.9;

        .wineRowText {
          display: flex;
          flex-direction: column;
          padding-left: 3px;
          .organicIcon {
            color: rgb(106, 150, 41);
          }
        }
        .wineRowBottle {
          background-color: rgb(190, 187, 187);
          min-width: 30px;
          min-height: 30px;
        }
      }
      .wineRowButton {
        justify-content: center;
      }
    }
  }
}
.modal {
  font-size: smaller;
  button {
    font-size: smaller;
    margin: 1px;
    padding: 2px 5px;
  }
}
