.connectionContainer {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  .connectionTitle {
    color: white;
  }
  .connectionSignIn {
    width: fit-content;
    text-align: center;
  }
  .connectionRegister {
    width: fit-content;
    text-align: center;
  }
  .connectionAccordion {
    width: 400px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    .connectionAccordionCard {
      background-color: rgba(255, 255, 255, 0.5);
      .connectionAccordionHeader {
        .btn-link {
          text-decoration: none !important;
        }
        & h4 {
          color: white;
        }
      }
    }
  }
}
