.cellarContainer {
  position: relative;

  .cellarTitle {
    position: fixed;
    background-color: rgb(63, 34, 34);
    color: white;
    text-align: center;
    width: 100%;
    z-index: 2;
    & h1 {
      margin: 0;
    }
    .cellarDisconnectionButton {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
  }
  .cellarCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding-top: 100px;
    .cellarCarouselheader {
      display: flex;
      flex-direction: row;
      margin: 5px;
      & span {
        width: 100px;
        text-align: center;
        background-color: ivory;
      }
    }
  }
  .cellarGlobalDisplay {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-y: auto;
    max-width: 60vw;
    position: relative;
    @media screen and (max-width: 1000px) {
      max-width: 90vw;
    }
    .cellarDisplay {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      @media screen and (max-width: 1000px) {
        font-size: smaller;
      }
      .cellarDisplayShelf {
        background-color: rgba(63, 34, 34, 0.7);
        display: flex;
        width: 60vw;
        flex-direction: row;
        @media screen and (max-width: 1000px) {
          width: 90vw;
        }
        .cellarDisplayFrontShelf {
          margin: 10px;
          & th {
            padding: 0;
          }
          .table {
            margin-bottom: 0;
          }
        }
        .cellarDisplayBackShelf {
          margin: 10px;
          & th {
            padding: 0;
          }
          .table {
            margin-bottom: 0;
          }
        }
        & td {
          padding: 5px;
          .wineRow {
            display: flex;
            flex-direction: row;
            align-items: center;
            line-height: 0.9;
            .wineRowText {
              display: flex;
              flex-direction: column;
              padding-left: 3px;
            }
          }
        }
      }
    }
  }
}
